{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Animesh Vaish</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Animesh Vaish. Currently Pursuing Bachelors in Computer Science 
                    & Technology.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:animeshvaish468@gmail.com'><img
                        src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_256px.png" height="40" width="40"></a> :
                        animeshvaish468@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/_animesh_vaish/'><img
                        src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg?t=st=1732453078~exp=1732456678~hmac=31119844243687c1959671455f6b9affdd15fe2cd1dcbccd26da1ffa49db56ff&w=740" height="44"
                        width="44"></a> : Animesh Vaish<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/animesh-vaish-053191277'><img
                        src="https://cdn.iconscout.com/icon/free/png-512/free-linkedin-logo-icon-download-in-svg-png-gif-file-formats--major-websites-set-pack-logos-icons-461814.png?f=webp&w=256" height="40" width="40"></a> :
                        Animesh Vaish<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ankit Singh</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ankit Singh. Pursuing bachelors in Computer Science &
                    Technology. My main focuses on the technical side are Cloud computing and mobile App development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:ankitsingh79386@gmail.com'><img
                        src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_256px.png" height="40" width="40"></a> :
                        ankitsingh79386@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/ankit_singh_rajput_7/'><img
                        src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg?t=st=1732453078~exp=1732456678~hmac=31119844243687c1959671455f6b9affdd15fe2cd1dcbccd26da1ffa49db56ff&w=740" height="44" width="44"></a> :
                        Ankit Singh<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/ankit-singh-9b4012204/'><img
                        src="https://cdn.iconscout.com/icon/free/png-512/free-linkedin-logo-icon-download-in-svg-png-gif-file-formats--major-websites-set-pack-logos-icons-461814.png?f=webp&w=256" height="40" width="40"></a> :
                Ankit Singh<br>
            </div>
        </div>
    </div>
</div>
<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Anupam Verma</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Anupam Verma. Currently Pursuing Bachelors in
                    Computer Science & Technology.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:anupamverma3255@gmail.com'><img
                        src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_256px.png" height="40" width="40"></a> :
                        anupamverma3255@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/anupam_verma/'><img
                        src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg?t=st=1732453078~exp=1732456678~hmac=31119844243687c1959671455f6b9affdd15fe2cd1dcbccd26da1ffa49db56ff&w=740" height="44"
                        width="44"></a> : Anupam Verma<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/anupam-verma-a9610a261'><img
                        src="https://cdn.iconscout.com/icon/free/png-512/free-linkedin-logo-icon-download-in-svg-png-gif-file-formats--major-websites-set-pack-logos-icons-461814.png?f=webp&w=256" height="40" width="40"></a> :
                        Anupam Verma<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ashok Kumar</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ashok Kumar.Pursuing bachelors in Computer Science &
                    Technology. My main focuses on the technical side are Cloud computing and mobile App development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:12ashok.kumar.4a@gmail.com'><img
                        src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_256px.png" height="40" width="40"></a> :
                        12ashok.kumar.4a@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/mr_ashok5125/'><img
                        src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg?t=st=1732453078~exp=1732456678~hmac=31119844243687c1959671455f6b9affdd15fe2cd1dcbccd26da1ffa49db56ff&w=740" height="44" width="44"></a> :
                        Ashok Kumar<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/ashok-kumar-283788241/'><img
                        src="https://cdn.iconscout.com/icon/free/png-512/free-linkedin-logo-icon-download-in-svg-png-gif-file-formats--major-websites-set-pack-logos-icons-461814.png?f=webp&w=256" height="40" width="40"></a> :
                        Ashok Kumar<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}